extends ../layout

block content
  .container
    if post.id
      h1.page-header 글수정
    else
      h1.page-header 글쓰기

    form(action = (post.id) ? "/posts/#{post.id}?_method=PUT" : "/posts", method='POST')
      .form-group
        label(for='title') Title
        input.form-control(type='text', id='title', name='title', placeholder='title', value=post.title)
      .form-group
        label(for='images') 이미지 1
        input.form-control(type="file", name='photos')
      .form-group
        label(for='images') 이미지 2
        input.form-control(type="file", name='photos')
      .form-group
        label(for='images') 이미지 3
        input.form-control(type="file", name='photos')
      //- .form-group
      //-   img#preview.img-responsive(src="https://dummyimage.com/200x200/ccc/fff")
      //-   form#form(method="POST", action="/posts/upload")
      //-     input#file.form-control(type="file")
      //-     p#status Please select a file
      //-     input#url.form-control(type="text", readonly="readonly", name="url", value="")
      //-     button#submit.btn.btn-primary(disabled="disabled") Upload
      .form-group  
        label(for='title') Country
        input.form-control(type='text', id='country', name='country', placeholder='country', value=post.country)
        //- input.form-control(type='text', id='q', size=20, placeholder='country')
        //- i.fa.fa-spin.fa-spinner
        //- ul.suggest-box
      .form-group
        label(for='title') Address
        input.form-control(type='text', id='address', name='address', placeholder='address', value=post.address)
      .form-group
        label(for='title') Price
        input.form-control(type='text', id='price', name='price', placeholder='price', value=post.price)
      .form-group
        label(for='title') Facility
        input.form-control(type='text', id='Facility', rows='6', name='facility', placeholder='facility', value=post.facility)
      .form-group
        label(for='title') Rule
        input.form-control(type='text', id='rule', rows='6', name='rule', placeholder='rule', value=post.rule)
      .form-group
        label(for='content') Content
        textarea.form-control(id='content', rows='10', name='content', placeholder='content here')= post.content

      div.form-actions
        a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
        | 
        button.btn.btn-primary(type='submit') 완료

    //- script(type='text/javascript').
    //-   $(function() {
    //-     $("#preview").hide();
    //-     $("#file").change(function() {
    //-       var file = $("#file")[0].files[0];
    //-       if (file) {
    //-         var url = "/s3?filename=" + file.name + "&type=" + file.type;
    //-         console.log(url);
    //-         $.getJSON(url, function(resp) {
    //-           $.ajax({
    //-             url: resp.signedRequest,
    //-             method: 'PUT',
    //-             data: file,
    //-             headers: {'x-amz-acl': 'public-read', 'Content-Type': file.type},
    //-             processData: false, 
    //-             contentType: file.type,
    //-             success: function() {
    //-               $("#preview").attr("src", resp.url).show();
    //-               $("#url").val(resp.url);
    //-               $("#submit").prop("disabled", false);
    //-             }
    //-            });
    //-         });
    //-       }
    //-     });
    //-   });