extends ../layout

block content
  .container
    if post.id
      h1.page-header 숙소 수정
    else
      h1.page-header 숙소 등록

    form(action = (post.id) ? "/posts/#{post.id}?_method=PUT" : "/posts", method='POST', enctype="multipart/form-data")
      .form-group
        label(for='title') Title
        input.form-control(type='text', id='title', name='title', placeholder='title', value=post.title)
      .form-group
        label(for='images') 이미지 1
        input.form-control(type="file", name='photos')
      .form-group
        label(for='images') 이미지 2
        input.form-control(type="file", name='photos')
      .form-group
        label(for='images') 이미지 3
        input.form-control(type="file", name='photos')
      //- .form-group
      //-   img#preview.img-responsive(src="https://dummyimage.com/200x200/ccc/fff")
      //-   form#form(method="POST", action="/posts/upload")
      //-     input#file.form-control(type="file")
      //-     p#status Please select a file
      //-     input#url.form-control(type="text", readonly="readonly", name="url", value="")
      //-     button#submit.btn.btn-primary(disabled="disabled") Upload
      .form-group  
        label(for='title') City
        input.form-control(type='text', id='city', name='city', placeholder='city', value=post.city)
        //- input.form-control(type='text', id='q', size=20, placeholder='country')
        //- i.fa.fa-spin.fa-spinner
        //- ul.suggest-box
      .form-group
        label(for='title') Address
        br
        input.form-control(type='text', id='postcode', name='postcode', placeholder='우편번호')
        input.form-control(type='button', onclick='execDaumPostcode()', value='우편번호 찾기')
        br
        input.form-control(type='text', id='address', name='address', placeholder='주소', value=post.address)
        //- input.form-control(type='text', id='detailAddress', name='detailAddress', placeholder='상세주소', value=post.detailAddress)
        script(src='http://dmaps.daum.net/map_js_init/postcode.v2.js')
        script.
            function execDaumPostcode() {
              new daum.Postcode({
                oncomplete: function(data) {
                  // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                  // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                  // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                  var fullAddr = ''; // 최종 주소 변수
                  var extraAddr = ''; // 조합형 주소 변수
                  // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                  if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    fullAddr = data.roadAddress;
                  } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    fullAddr = data.jibunAddress;
                  }
                  // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
                  if(data.userSelectedType === 'R'){
                    //법정동명이 있을 경우 추가한다.
                    if(data.bname !== ''){
                      extraAddr += data.bname;
                    }
                    // 건물명이 있을 경우 추가한다.
                    if(data.buildingName !== ''){
                      extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                    fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
                  } 
                  // 우편번호와 주소 정보를 해당 필드에 넣는다.
                  document.getElementById('postcode').value = data.zonecode; //5자리 새우편번호 사용
                  //- post.postcode = document.getElementById('postcode');
                  document.getElementById('address').value = fullAddr;
                  //- post.address  document.getElementById('address');
                  // 커서를 상세주소 필드로 이동한다.
                  document.getElementById('detailAddress').focus();
                  //- post.detailAddress = document.getElementById('address2');
                }
              }).open();;
            }

      .form-group
        label(for='title') Price
        input.form-control(type='text', id='price', name='price', placeholder='price', value=post.price)
      .form-group
        label(for='title') Facility
        input.form-control(type='text', id='Facility', rows='6', name='facility', placeholder='facility', value=post.facility)
      .form-group
        label(for='title') Rule
        input.form-control(type='text', id='rule', rows='6', name='rule', placeholder='rule', value=post.rule)
      .form-group
        label(for='content') Content
        textarea.form-control(id='content', rows='10', name='content', placeholder='content here')= post.content

      div.form-actions
        a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
        | 
        button.btn.btn-primary(type='submit') 완료
