extends ../layout

block content
  .container
    h1.page-header List
    
    //- | total #{pagination.numPosts} posts  
    table.table.table-bordered
      thead
        tr
          th 이메일
          th 제목
          th 날짜
          th 조회수
          th 댓글수

      tbody
        each post in posts
          tr
            td= post.email
            td
              a(href='/posts/#{post.id}')= post.title
            td= moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss')
            td= post.read
            td= post.numComment

    a.btn.btn-primary(href='/posts/new') 호스팅
