extends ../layout
    
block content
  .container
    h1.page-header 예약 내역

    table.table.table-bordered
      thead
        tr
          th 호스트 이메일
          th 체크인
          th 체크아웃
          th 인원 수
          th
      tbody
        each book in books
          tr
            td= book.hostemail
            td= moment(book.checkin).format('YYYY-MM-DD')
            td= moment(book.checkout).format('YYYY-MM-DD')
            td= book.people
            td 
              a.btn.btn-xs.btn-default(data-id=book.id, class='delete') 취소

    form#deleteForm(style='display:none', method="POST")
            
    script(type='text/javascript').
      $(".delete").click(function(e) {
        var id = $(e.currentTarget).data('id');
        if (confirm('정말 취소하시겠습니까?')) {
          $("#deleteForm").attr('action', "/hosts/" + id + "?_method=DELETE").submit();          
        }
        return false;
      });    

    