extends ../layout
    
block content
  .container
    h1.page-header 예약 내역

    table.table.table-bordered
      thead
        tr
          th 호스트 이메일
          th 체크인
          th 체크아웃
          th 인원 수
          th
      tbody
        each book in books
          tr
            td= book.hostemail
            td= moment(book.checkin).format('YYYY-MM-DD')
            td= moment(book.checkout).format('YYYY-MM-DD')
            td= book.people
            td
              form(action = (book.id) ? "/hosts/cancel/#{book.id}?_method=PUT" : "/hosts", method='POST')
                div.form-action
                  if(book.cancelRejected === 'false') 
                    button.btn.btn-default(href='/hosts/cancel/#{book.id}')  취소요청


    